<h1 class="aligncenter">登录</h1>
<header><a href="#" class="avatar mg_b30 mg_t30"><img src="/images/avatar.png"> </a> </header>
<div class="wrapper">
        <p><input type="text" class="input mg_b10" placeholder="用户名／邮箱" name="username"></p>
        <p><input type="password" class="input mg_b10" placeholder="密码" name="password"></p>
        <a id="loginBtn" class="btn btn-primary mg_b10">登录</a>
<div>
    <ul class="loginbtns">
        <li><a href="#forgotpassword">忘记密码</a></li>
        <li><a href="#register">注册</a></li>
    </ul>
</div>

    <p class="error mg_b10" id="error"></p>
</div>
