<div id="skel-panels-defaultWrapper">
    <div class="graywrapper">
        <ul class="barlist">
            <li><a href="#">帐号：<%= model.username%><i class="icon icon-greater fr"></i></a></li>
            <li><a href="#">昵称：<%= model.nickname%><i class="icon icon-greater fr"></i></a></li>
        </ul>
        <ul class="barlist">
            <li><a href="#">我的资料<i class="icon icon-greater fr"></i></a></li>
            <li><a href="#">我的资料<i class="icon icon-greater fr"></i></a></li>
            <li><a href="#">我的资料<i class="icon icon-greater fr"></i></a></li>
        </ul>
    </div>
</div>
