<div class="wrapper" placeholder="用户名">
    <h1 class="title">注册新用户</h1>

    <p><input class="input mg_b10" placeholder="用户名" type="text" name="username" /></p>
    <p><input class="input mg_b10" placeholder="密码" type="password" name="password" /></p>
    <p><input class="input mg_b10" placeholder="确认密码" type="password" name="cpassword" /></p>
    <p>
        <a href="javascript:void()" id="registerBtn" class="btn btn-primary mg_b10">立即注册</a>
    </p>
    <p class="error mg_b10" id="error"></p>
</div>
